{% extends "Social/View/index.html" %}
{% block content %}
<div>
    <h1>Новости</h1>
</div>
<div>
    {% for new in news %}
    <div>
        <div>
            <div>
                <h2>{{new['title']}}</h2>
            </div>
            <div>
                <p>{{new['created_at']}}</p>
            </div>
        </div>
        <div>
            <div>
                <p>{{new['body']}}</p>
            </div>
            <div>
                <img src="">
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}