<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update password</title>
</head>
<body>
    <form action="/user/id/{{ user_data.id }}/update_password" method="post" class="form-example">
        <div class="form-example">
            <label for="password">Enter your current password: </label>
            <input type="password" name="password" id="password" required>
        </div>
        <div class="form-example">
            <label for="new_password">Enter your new password: </label>
            <input type="password" name="new_password" id="new_password" required>
        </div>
        <div class="form-example">
            <label for="confirm_password">Confirm password: </label>
            <input type="password" name="confirm_password" id="confirm_password" required>
        </div>
        <div class="form-example">
            <input type="submit" value="Update password">
        </div>
    </form>
    <div class="alert-message block-message error">
        <ul>
          {%- for msg in error_messages %}
          <li><font size="4" face="verdana" color="red"> {{ msg }} </font></li>
          {% endfor -%}
        </ul>
      </div>
</body>
</html>