<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update account data</title>
</head>
<body>
    <form action="/user/id/{{ user.id }}/update" method="post" class="form-example">
        <div class="form-example">
            <label for="password">Enter your password: </label>
            <input type="password" name="password" id="password">
        </div>
        <div class="form-example">
            <label for="new_password">Enter new password: </label>
            <input type="password" name="new_password" id="new_password">
        </div>
        <div class="form-example">
            <label for="confirm_password">Confirm password: </label>
            <input type="password" name="confirm_password" id="confirm_password">
        </div>
        <div class="form-example">
            <label for="email">Enter your email: </label>
            <input type="email" name="email" id="email" required value={{ user.email if user else "" }}>
        </div>
        <div class="form-example">
            <label for="fio">Enter your FIO: </label>
            <input type="text" name="fio" id="fio" required value={{ user.fio if user else "" }}>
        </div>
        <div class="form-example">
            <label for="sex">Enter your sex: </label>
            <input type="text" name="sex" id="sex" required value={{ user.sex if user else "" }}>
        </div>
        <div class="form-example">
            <label for="date_of_birth">Enter your date of birth: </label>
            <input type="date" name="date_of_birth" id="date_of_birth" required value={{ user.date_of_birth if user else "" }}>
        </div>
        <div class="form-example">
            <label for="source_of_knowing_about_pskk">Where did you find us?: </label>
            <input type="text" name="source_of_knowing_about_pskk" id="source_of_knowing_about_pskk" required
                   value={{ user.source_of_knowing_about_pskk if user else "" }}>
        </div>
        <div class="form-example">
            <label for="phone_number">Enter your phone number: </label>
            <input type="text" name="phone_number" id="phone_number" required value={{ user.phone_number if user else "" }}>
        </div>
        <div class="form-example">
            <label for="address">Enter your adress: </label>
            <input type="text" name="address" id="address" value={{ user.address if user else "" }}>
        </div>
        <div class="form-example">
            <label for="post_index">Enter your post index: </label>
            <input type="text" name="post_index" id="post_index" value={{ user.post_index if user else "" }}>
        </div>
        <div class="form-example">
            <label for="inn">Enter your INN: </label>
            <input type="text" name="inn" id="inn" value={{ user.inn if user else "" }}>
        </div>
        <div class="form-example">
            <label for="occupation">Enter your place of occupation: </label>
            <input type="text" name="occupation" id="occupation" value={{ user.occupation if user else "" }}>
        </div>
        <div class="form-example">
            <label for="company_name">Enter the name of your company: </label>
            <input type="text" name="company_name" id="company_name" value={{ user.company_name if user else "" }}>
        </div>
        <div class="form-example">
            <input type="submit" value="Update data">
        </div>
    </form>
    <div class="alert-message block-message error">
        <ul>
          {%- for msg in error_messages %}
          <li><font size="4" face="verdana" color="red"> {{ msg }} </font></li>
          {% endfor -%}
        </ul>
      </div>
</body>
</html>