{% extends "Social/View/index.html" %}
{% block content %}
        <div>
            <h1>Добрый день, {{user['fio']}}!</h1>
        </div>
        <div>
            <div>
                <h2>Ваша информация</h2>
            </div>
            <div>
                <table>
                {% for attr in user %}
                    <tr>
                        <td>
                            {{attr}}
                        </td>
                        <td>
                            {{user[attr]}}
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
            <div>
                <a href="/users/{{user['id']}}/edit">Редактировать информацию</a>
            </div>
            <div>
                <a href="/projects/create/">Создать проект</a>
            </div>
            <div>
                <a href="/company/create/">Зарегистрировать компанию</a>
            </div>
            <div>
                <a href="/skills/create/">Добавить навык</a>
            </div>
            <div>
                <a href="/documents/create/">Загрузить документ</a>
            </div>
        </div>
{% endblock %}